.product{
    min-width: 250px;
    max-width:300px;
    height: 400px;
    background-color: var(--main-color);
    padding: .5em;
    margin:.8em;
    box-shadow: 0 2px 8px rgba(0,0,0,.3);
}

@media (max-width: 1232px) {
    .product {
      width: 360px;
    }
  }
  
  @media (max-width: 1115px) {
    .product {
      width: 330px;
    }
  }
  
  @media (max-width: 1028px) {
    .product {
      width: 300px;
    }
  }
  
  @media (max-width: 950px) {
    .product {
      width: 400px;
    }
  }
  
  @media (max-width: 830px) {
    .product {
      width: 330px;
    }
  }
  
  @media (max-width: 700px) {
    .product {
      width: 290px;
    }
  }
  
  @media (max-width: 630px) {
    .product {
      width: 450px;
    }
  }
  
  @media (max-width: 500px) {
    .product {
      width: 350px;
    }
  }
  
  @media (max-width: 400px) {
    .product {
      width: 300px;
    }
  }

.product__image{
    width: 100%;
}

.product__image > img{
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    border:solid 1px rgb(211, 211, 211);
    width:100%;
    height: 40%;
    min-height: 180px;
    max-height: 180px;
}

.product__info{
    padding: 0em .7em;
    width:100%;
    height: 60%;
}

.info__name{
    font-size: 17px;
    font-weight: 600;
    padding:.4em;
}

.info__description{
    font-size: 14px;
}

.info__price{
    margin:.4em 0em;
}

.info__button{
    font-size: 15px;
    text-decoration: none;
    color:white;
    padding:1em 2em;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    transition: .3s;
    background-color: var(--main-btn-color);
}

.info__button:hover{
    transition: .3s;
    background-color: var(--main-btn-color-hover);
}
