*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --main-color: #ffffff;
    --font-color: black;
    --secondary-color:#ebebeb;
    --secondary-color-hover:#f5f5f5;
    --main-btn-color: #a6c8f1;
    --main-btn-color-hover: #bed8f8;
    --secondary-btn-color:#919fb3;
    --secondary-btn-color-hover:#b1bcca;
}

.app{
    position: relative;
    background-color: var(--secondary-color);
    min-height: 100vh;
}

.app__content-wrapper{
    padding-bottom: 10em;
}